/private/
vendor/
node_modules/
target/
.idea/
.vscode/
coverage/
dist/

*.class
*.log

.env
.env.*
*.DS_Store
*.cache

# -------------------------
# JAVA (Maven)
# -------------------------
java/target/
java/bin/
java/out/

# -------------------------
# PHP (Composer + PHPUnit)
# -------------------------
php/vendor/
php/.phpunit.result.cache
php/.phpunit.cache
php/coverage/
